.droppable-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
}

.drag-drop-context-container {
    border: 2px solid indianred;
    padding: 2rem;
    border-radius: .5rem;
}

.list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

@media (max-width: 770px) {
    .list-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 300px) {
    .drag-drop-context-container{
        padding: 0;
    }
}

@media (max-width: 1490px) {
    .drag-drop-context-container{
        width: fit-content;
    }

    .wrapper {
        width:  fit-content;
    }

    
}