.desk {
    width: 10rem;
    height: 100%;
    padding: 0.2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 2px solid;
    background: bisque;
    border-radius: 0.4rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.desk p {
    flex: 1 1 100%;
    text-align: center;
    text-wrap: balance;
}

.symbol-container {
flex: 1 1 100%;
max-height: 50%;
border-radius: .6rem;
overflow: hidden;
}

.symbol-pic {
   min-width: 100%;
   max-height: 7rem;
   display: block;
   margin: 0 auto;
}

.modify-btns-container {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}

.modify-btns-container button {
    padding: 0.2rem 2rem;
    background: lightgray;
    border: none;
    border-radius: 0.5rem;
    transition: ease-in 200ms;
}

.modify-btns-container button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.modify-btns-container button:hover svg {
    fill: white;
}

.modify-btns-container button svg {
    max-width: .8rem;
    max-height: .8rem;
}

.edit-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    background: black;
    opacity: 0.6;
    padding: 1rem;
    border-radius: 0.6rem;
}

.edit-form fieldset {
    display: flex;
    flex-direction: column;
    flex: 1 1 10%;
    border: none;
    background: beige;
    padding: 1rem;
    border-radius: 0.5rem;
}

.edit-form fieldset label {
    font-size: 1.3rem;
    font-weight: bold;
}

.edit-form fieldset input:focus {
    background-color: lightgray;
}

.edit-form button {
    flex: 1 1 20%;
    padding: 0.4rem 1rem;
    background: lightcoral;
    border: none;
    border-radius: 0.5rem;
    color: aliceblue;
    font-size: 1.3rem;
    font-weight: bold;
    transition: ease-in 200ms;
}

.edit-form button:hover {
    cursor: pointer;
    background-color: red;
    opacity: 0.6;
    color: black;
}