.subheader {
    background: bisque;
    border-radius: 0.5rem;
}

.subheader ul {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 2rem;
}

.subheader ul li {
    font-size: clamp(1rem, 4vw + 1rem, 1.5rem);
    color: navy;
    font-weight: 600;
    padding: .4rem;
    border-radius: .5rem;
    transition: ease-in 200ms;
}

.subheader ul li:hover {
    background-color: #d4d0d0;
    cursor: pointer;
}

.subheader ul > li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.subheader ul > li svg {
    width: 2rem;
    height: 2rem;
}

.symbol-form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background: #eee;
    border-radius: 0.8rem;
    flex: 1 1 100%;
}

.symbol-form fieldset {
    display: flex;
    flex-wrap: wrap;
    border: none;
    max-width: 50%;
   
}

.symbol-form fieldset input {
    flex: 1 1 100%;
    padding: 0.4rem 0.4rem;
    border: none;
    border-radius: 0.4rem;
}

.symbol-form button {
    padding: 0.3rem 4rem;
    margin-left: auto;
    margin-right: auto;
    background: black;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.3rem;
    transition: ease-in 200ms;
}

.symbol-form button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

/* .symbol-form fieldset:nth-child(2) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

/* .symbol-form fieldset:nth-child(2) label {
    flex: 1 1 100%;
} */


@media (max-width: 600px){
    .subheader ul {
        flex-direction: column;
    }
}

