.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
}

.logo-container {
    height: 50%;
    flex: 0 1 10%;
}

.logo {
    width: 100%;
    height: auto;
}

.logo-down-layer {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    transform: translate(40%, 70%);
    font-size: 2rem;
}

.logo-down-layer h1 {
    transform: rotate(-40deg);
    color: red;
    opacity: 0.5;
    letter-spacing: 1rem;
    font-size: inherit;
    font-size: 2rem;
}