.conf-modal {
    padding: 1rem;
    background: crimson;
    opacity: 0.6;
    border-radius: 0.4rem
}
.conf-modal-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  }

  .conf-modal-content h5{
    margin: 0 0 1rem 0;
    font-size: 1.4rem;
    /* text-wrap: balance; */
    font-weight: bold;
  }

  .conf-modal-content button {
    flex: 1 1 10%;
    padding: 0.3rem 0.3rem;
    background: black;
    color: white;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0.4rem;
    transition: ease-in 200ms;
  }

  .conf-modal-content button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }

.close {
  color: black;
  font-weight: bold;
  font-size: 3.3rem;
  }
  
  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }