.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.auth-fieldset {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin-bottom: 1em;
}

.auth-fieldset label {
    font-size: clamp(1.5rem, 5vw + 1rem, 1.8rem);
}

.auth-fieldset input {
    padding: 0.8rem 2rem;
    border-radius: 0.6rem;
    border: 1px solid #EF2;
    font-size: 1.5em;
    margin-top: 0.5em;
}

.form button {
    padding: 0.3rem 4rem;
    min-width: 10rem;
    font-size: 1.5rem;
    background: black;
    border: none;
    color: white;
    border-radius: 0.5rem;
}