.home-banner {
    display: flex;
}

.home-banner-left {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-banner-left h4 {
    font-size: clamp(1.4rem, 5vw + 1rem, 2.5rem);
    text-wrap: balance;
}

.home-banner-left h1 {
    font-size: clamp(1.8rem, 5vw + 1rem, 3.5rem);
    text-align: center;
    text-wrap: balance;
}

.home-banner-right {
    flex: 1 1 50%;
}

.home-banner-right img {
    width: 100%;
    height: auto;
}


@media (max-width: 1000px){
   .home-banner {
    flex-wrap: wrap;
   }

   .home-banner-left h4 {
    text-align: center;
    margin: 0;
   }

   .home-banner-right {
    flex: 1 0 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
   }
}